.firstbox {
    background-color:#1F2937;
    height: 300px;
    display:flex;
    font-family:"Roboto";
    padding:32px;
    flex-flow: column wrap;
}

.thirdbox {
    background-color: #E5E7EB;
    display: flex;
    height: 300px;
}
.fourthbox {
 display: flex;
 height: 300px;
 justify-content: center;
 
}
.fifthbox {
    display: flex;
    height: 200px;
    background-color: black;
    justify-content: center;
}
.qt {
    align-self: center;
    color:#E5E7EB
}




.cta {
   color: #F9FAF8;
   font-weight: 900;
   margin: 50px;
   margin-top: 40px;
   display: flex;
}
.subtext {
    display: flex;
   
    font-size: 8px;
    color: #E5E7EB;
    margin-left: -127px;
    margin-top:17px;
    
   
}

.signup{
    margin-left: 266px;
    font-weight: 900;
    font-family: "Roboto";
    border: 3px solid white;
    border-radius: 2%;
    padding: 8px;
    font-size: 7px;
   
   
}



.bluebot {
    display: flex;
    background-color: #3882F6;
    height: 60px;
    width: 500px;
    align-self: center;
    align-items: center ;
    justify-content: flex-start;
     font-family: "Roboto";

}
.quotation
 {
    display: flex;
    font-weight: bold;
    align-self: center;
    margin-left: 160px;
 }

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    width: 600px;




}
.top-word {
    display: flex;
    font-weight:900px;
    font-size: 36px;
    color:#1F2937;
    align-items: flex-start;
}




.birdphoto,img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    width:auto;

}



.packages {
 display: flex;
 flex-flow: row wrap;
 height: 300px;
 align-items: center;
 justify-content: center;

}
.ib{
    height:127.33px;
    width: 127.33px;
    align-self: center;
    
}
.crates {
    box-sizing: border-box;
    padding:63px;
    border: 1px solid blue;
    display: flex;
    flex-flow: wrap;
    border-radius: 10%;
    
   
}

 .top {
    display: flex;
    justify-content: center;
 }


 .hero-text {
    font-size: 48px;
    color:#F9FAF8;
    font-weight:900;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
   

 }
 .smaller-text {
        font-size: 18px;
        color: #E5E7EB;
        display: flex;
        width: 600px;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 40px;
}
 .secondbox {
    height: 300px;
    background-color: #F9FAF8;

 }


.Logo {
    font-size:24px;
    color:#F9FAF8;
    font-weight:900;
    align-self: flex-start;
    gap:16px;
}
ul {
    display: flex;
    flex-flow: row;
    color: gray;
    gap:16px;
    justify-content: flex-end;
    margin-top: -40px;
    margin-bottom: 40px;
    
}
 button {
    width: 200px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700px;
 }

li, a {
list-style: none;
text-decoration: none;
gap:16px;
font-size: 18px;
color: #E5E7EB;
}

